.clr{
    color: #fff;
    margin-bottom: 6px;
}
.section__title{
    margin-bottom: 7px;
    margin-top: 40px;
}
.description{
    margin-top: 20px;
}
.card__meta{
    margin-top: 18px;
}
.title_color{
    color: #fff;
}
.details__title {
    margin-bottom: 9px;
}
