<header class="header">
  <div class="header__wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <!-- header logo -->
            <a  class="header__logo">
              <img src="assets/img/logo-YTS.svg" alt="">
            </a>
            <!-- end header logo -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header search -->
  <form action="#" class="header__search">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__search-content">
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- end header search -->
</header>